# Pandas 데이터 불러오기 연습

In [2]:
import os
import pandas as pd

### C:\Python_VSCode_Cursor\XAU_1d_data.csv 경로에 있는 모든 파일

In [3]:
os.listdir(r"C:\Python_VSCode_Cursor")

['.git',
 '.vscode',
 'ClickMacro.py',
 'ML_Gold_Price.py',
 'Selenium_practice.py',
 'SnakeGame.py',
 'WebScraping_practice',
 'XAU_1d_data.csv',
 '거친코딩머신러닝',
 '나도코딩머신러닝']

### pandas 라이브러리를 이용해 파일 읽기(csv 파일)

In [4]:
df = pd.read_csv("C:\Python_VSCode_Cursor/XAU_1d_data.csv", encoding="utf8")
df.head(5) # 5개만 읽기

         Date   Open   High    Low  Close  Volume
0  2004.06.11  384.0  384.8  382.8  384.1     272
1  2004.06.14  384.3  385.8  381.8  382.8    1902
2  2004.06.15  382.8  388.8  381.1  388.6    1951
3  2004.06.16  387.1  389.8  382.6  383.8    2014
4  2004.06.17  383.6  389.3  383.0  387.6    1568

### 파일 저장하기

In [ ]:
df.to_csv("C:\Python_VSCode_Cursor\XAU_1d_data.csv", 
          index=False, 
          encoding="utf8")

In [6]:
pd.read_csv("C:\Python_VSCode_Cursor\XAU_1d_data.csv")

            Date     Open     High      Low    Close  Volume
0     2004.06.11   384.00   384.80   382.80   384.10     272
1     2004.06.14   384.30   385.80   381.80   382.80    1902
2     2004.06.15   382.80   388.80   381.10   388.60    1951
3     2004.06.16   387.10   389.80   382.60   383.80    2014
4     2004.06.17   383.60   389.30   383.00   387.60    1568
...          ...      ...      ...      ...      ...     ...
5386  2025.06.02  3298.76  3382.86  3295.75  3380.64  461738
5387  2025.06.03  3383.51  3392.19  3333.08  3352.91  436080
5388  2025.06.04  3353.93  3384.64  3343.67  3372.25  420245
5389  2025.06.05  3373.34  3403.42  3339.43  3351.98  808095
5390  2025.06.06  3353.55  3369.26  3353.00  3368.94  120857

[5391 rows x 6 columns]

In [7]:
os.listdir("C:\Python_VSCode_Cursor")

['.git',
 '.vscode',
 'ClickMacro.py',
 'ML_Gold_Price.py',
 'Selenium_practice.py',
 'SnakeGame.py',
 'WebScraping_practice',
 'XAU_1d_data.csv',
 '거친코딩머신러닝',
 '나도코딩머신러닝']

# Series 연습

In [8]:
import numpy as np

### Series()와 np.array()의 차이

In [12]:
print(pd.Series([1,2,3]))
np.array([1,2,3])

0    1
1    2
2    3
dtype: int64

array([1, 2, 3])

### 데이터프레임에서 컬럼명을 사용해 시리즈 생성

In [14]:
series = df["Open"]
series

0        384.00
1        384.30
2        382.80
3        387.10
4        383.60
         ...
5386    3298.76
5387    3383.51
5388    3353.93
5389    3373.34
5390    3353.55
Name: Open, Length: 5391, dtype: float64

### 시리즈 생성(index, dtype 지정) dtype = 데이터의 타입 ex)float, int

In [19]:
series = pd.Series(
                    [1,2,3,4,5],
                    index=["a","b","c","d","e"],
                    dtype=float
)
series

a    1.0
b    2.0
c    3.0
d    4.0
e    5.0
dtype: float64

### series 정렬하기

In [25]:
series = pd.Series(
                    [10,3,2,6,5],
                    index=["a","b","c","d","e"],
                    dtype=float
)
print(series.sort_values(ascending=True)) # 오름차순(생략가능)
print(series.sort_values(ascending=False)) # 내림차순

c     2.0
b     3.0
e     5.0
d     6.0
a    10.0
dtype: float64
a    10.0
d     6.0
e     5.0
b     3.0
c     2.0
dtype: float64

# DataFrame 연습

### Dictionary 형태로 데이터프레임 생성(키:컬럼 , 값:데이터값)

In [26]:
df = pd.DataFrame({"이도":["잘생김","천재"],"누나":["못생김","바보"]})
df

    이도   누나
0  잘생김  못생김
1   천재   바보

### List 형태로 데이터프레임 생성
### (컬럼 따로 지정, 리스트 값들이 row로 저장)

In [29]:
df = pd.DataFrame([[2,10,20],[3,15,45],[6,7,42]],
                  columns=["a","b","c"],
                  index=["가","나","다"],
                  dtype=float)
df

     a     b     c
가  2.0  10.0  20.0
나  3.0  15.0  45.0
다  6.0   7.0  42.0